<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <h1>Create a Basketball Team!</h1>
 <body>
   
<form method="POST" action="/newteam">
  <p>Team Name: <input type="text" name="name" value="name"></p>
  <p>Coach: <input type="text" name="coach" value=""="coach"></p>
  <p>Point Guard: <input type="text" name="pg" value=""="pg"></p>
  <p>Shooting Guard: <input type="text" name="sg" value=""="sg"></p>
  <p>Small Forward: <input type="text" name="sf" value=""="sf"></p>
  <p>Power Forward: <input type="text" name="pf" value=""="pf"></p>
  <p>Center: <input type="text" name="c" value=""="c"></p>
  <input type="submit" value="Submit">
</form>
    
 </body>
</html>


